In [1]:
import pandas as pd

In [2]:
final_transaction = pd.read_csv('dataset\kf_final_transaction.csv')
inventory = pd.read_csv('dataset\kf_inventory.csv')
cabang = pd.read_csv('dataset\kf_kantor_cabang.csv')
produk = pd.read_csv('dataset\kf_product.csv')

<>:1: SyntaxWarning: invalid escape sequence '\k'
<>:2: SyntaxWarning: invalid escape sequence '\k'
<>:3: SyntaxWarning: invalid escape sequence '\k'
<>:4: SyntaxWarning: invalid escape sequence '\k'
<>:1: SyntaxWarning: invalid escape sequence '\k'
<>:2: SyntaxWarning: invalid escape sequence '\k'
<>:3: SyntaxWarning: invalid escape sequence '\k'
<>:4: SyntaxWarning: invalid escape sequence '\k'
C:\Users\faruq\AppData\Local\Temp\ipykernel_13240\1058007648.py:1: SyntaxWarning: invalid escape sequence '\k'
  final_transaction = pd.read_csv('dataset\kf_final_transaction.csv')
C:\Users\faruq\AppData\Local\Temp\ipykernel_13240\1058007648.py:2: SyntaxWarning: invalid escape sequence '\k'
  inventory = pd.read_csv('dataset\kf_inventory.csv')
C:\Users\faruq\AppData\Local\Temp\ipykernel_13240\1058007648.py:3: SyntaxWarning: invalid escape sequence '\k'
  cabang = pd.read_csv('dataset\kf_kantor_cabang.csv')
C:\Users\faruq\AppData\Local\Temp\ipykernel_13240\1058007648.py:4: SyntaxWarning: invalid escape sequence '\k'
  produk = pd.read_csv('dataset\kf_product.csv')

In [4]:
final_transaction.head()

,transaction_id,date,branch_id,customer_name,product_id,price,discount_percentage,rating
0,TRX5844188,9/7/2023,88605,Elizabeth Thomas,KF260,118700,0.05,3.0
1,TRX6182886,11/7/2022,27840,Andrew Martinez,KF492,751900,0.07,4.8
2,TRX7691180,5/30/2023,62913,Charles Reynolds,KF540,744200,0.03,3.3
3,TRX3205743,11/28/2022,31604,Casey Cochran,KF389,761700,0.06,3.5
4,TRX3644533,5/28/2023,20322,Rebecca Moore,KF854,681000,0.13,4.1

In [6]:
cabang.head()

,branch_id,branch_category,branch_name,kota,provinsi,rating
0,63116,Klinik-Apotek-Laboratorium,Kimia Farma - Klinik-Apotek-Laboratorium,Ciamis,Jawa Barat,4.7
1,31494,Klinik-Apotek-Laboratorium,Kimia Farma - Klinik-Apotek-Laboratorium,Gorontalo,Gorontalo,4.6
2,27840,Apotek,Kimia Farma - Apotek,Denpasar,Bali,4.3
3,44209,Klinik & Apotek,Kimia Farma - Klinik & Apotek,Cilacap,Jawa Tengah,4.5
4,73710,Apotek,Kimia Farma - Apotek,Probolinggo,Jawa Timur,4.0

In [7]:
produk.head()

,product_id,product_name,product_category,price
0,KF162,"Anti-inflammatory and antirheumatic products, ...",M01AE,840200
1,KF374,"Anti-inflammatory and antirheumatic products, ...",R03,867500
2,KF801,"Other analgesics and antipyretics, Salicylic a...",N05C,530300
3,KF519,"Other analgesics and antipyretics, Pyrazolones...",M01AE,626400
4,KF679,"Psycholeptics drugs, Anxiolytic drugs",M01AE,924800

In [9]:
tabel_analisa = final_transaction.merge(cabang, how='left', on='branch_id')
tabel_analisa.head()

,transaction_id,date,branch_id,customer_name,product_id,price,discount_percentage,rating_x,branch_category,branch_name,kota,provinsi,rating_y
0,TRX5844188,9/7/2023,88605,Elizabeth Thomas,KF260,118700,0.05,3.0,Klinik & Apotek,Kimia Farma - Klinik & Apotek,Sukabumi,Jawa Barat,4.7
1,TRX6182886,11/7/2022,27840,Andrew Martinez,KF492,751900,0.07,4.8,Apotek,Kimia Farma - Apotek,Denpasar,Bali,4.3
2,TRX7691180,5/30/2023,62913,Charles Reynolds,KF540,744200,0.03,3.3,Apotek,Kimia Farma - Apotek,Palembang,Sumatera Selatan,4.5
3,TRX3205743,11/28/2022,31604,Casey Cochran,KF389,761700,0.06,3.5,Apotek,Kimia Farma - Apotek,Pontianak,Kalimantan Barat,4.4
4,TRX3644533,5/28/2023,20322,Rebecca Moore,KF854,681000,0.13,4.1,Klinik-Apotek-Laboratorium,Kimia Farma - Klinik-Apotek-Laboratorium,Subang,Jawa Barat,4.1

In [10]:
tabel_analisa = tabel_analisa.merge(produk, how='left', on='product_id')
tabel_analisa.head()

,transaction_id,date,branch_id,customer_name,product_id,price_x,discount_percentage,rating_x,branch_category,branch_name,kota,provinsi,rating_y,product_name,product_category,price_y
0,TRX5844188,9/7/2023,88605,Elizabeth Thomas,KF260,118700,0.05,3.0,Klinik & Apotek,Kimia Farma - Klinik & Apotek,Sukabumi,Jawa Barat,4.7,"Other analgesics and antipyretics, Pyrazolones...",N05C,118700
1,TRX6182886,11/7/2022,27840,Andrew Martinez,KF492,751900,0.07,4.8,Apotek,Kimia Farma - Apotek,Denpasar,Bali,4.3,"Psycholeptics drugs, Hypnotics and sedatives d...",N02BE/B,751900
2,TRX7691180,5/30/2023,62913,Charles Reynolds,KF540,744200,0.03,3.3,Apotek,Kimia Farma - Apotek,Palembang,Sumatera Selatan,4.5,"Other analgesics and antipyretics, Salicylic a...",R03,744200
3,TRX3205743,11/28/2022,31604,Casey Cochran,KF389,761700,0.06,3.5,Apotek,Kimia Farma - Apotek,Pontianak,Kalimantan Barat,4.4,Drugs for obstructive airway diseases,M01AB,761700
4,TRX3644533,5/28/2023,20322,Rebecca Moore,KF854,681000,0.13,4.1,Klinik-Apotek-Laboratorium,Kimia Farma - Klinik-Apotek-Laboratorium,Subang,Jawa Barat,4.1,Drugs for obstructive airway diseases,N05B,681000

In [11]:
tabel_analisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672458 entries, 0 to 672457
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   transaction_id       672458 non-null  object
 1   date                 672458 non-null  object
 2   branch_id            672458 non-null  int64
 3   customer_name        672458 non-null  object
 4   product_id           672458 non-null  object
 5   price_x              672458 non-null  int64
 6   discount_percentage  672458 non-null  float64
 7   rating_x             672458 non-null  float64
 8   branch_category      672458 non-null  object
 9   branch_name          672458 non-null  object
 10  kota                 672458 non-null  object
 11  provinsi             672458 non-null  object
 12  rating_y             672458 non-null  float64
 13  product_name         672458 non-null  object
 14  product_category     672458 non-null  object
 15  price_y              672458 non-null  int64
dtypes: float64(3), int64(3), object(10)
memory usage: 82.1+ MB

In [13]:
def discount(x):
    if x > 500000:
        return 0.3
    elif x > 300000:
        return 0.25
    elif x > 100000:
        return 0.20
    elif x > 50000:
        return 0.15
    else:
        return 0.1

tabel_analisa['presentase_gross_laba'] = tabel_analisa['price_x'].apply(discount)

In [17]:
tabel_analisa['nett_sales'] = tabel_analisa['price_x'] - (tabel_analisa['price_x'] * tabel_analisa['discount_percentage'])
tabel_analisa.head()

,transaction_id,date,branch_id,customer_name,product_id,price_x,discount_percentage,rating_x,branch_category,branch_name,kota,provinsi,rating_y,product_name,product_category,price_y,presentase_gross_laba,nett_sales
0,TRX5844188,9/7/2023,88605,Elizabeth Thomas,KF260,118700,0.05,3.0,Klinik & Apotek,Kimia Farma - Klinik & Apotek,Sukabumi,Jawa Barat,4.7,"Other analgesics and antipyretics, Pyrazolones...",N05C,118700,0.2,112765.0
1,TRX6182886,11/7/2022,27840,Andrew Martinez,KF492,751900,0.07,4.8,Apotek,Kimia Farma - Apotek,Denpasar,Bali,4.3,"Psycholeptics drugs, Hypnotics and sedatives d...",N02BE/B,751900,0.3,699267.0
2,TRX7691180,5/30/2023,62913,Charles Reynolds,KF540,744200,0.03,3.3,Apotek,Kimia Farma - Apotek,Palembang,Sumatera Selatan,4.5,"Other analgesics and antipyretics, Salicylic a...",R03,744200,0.3,721874.0
3,TRX3205743,11/28/2022,31604,Casey Cochran,KF389,761700,0.06,3.5,Apotek,Kimia Farma - Apotek,Pontianak,Kalimantan Barat,4.4,Drugs for obstructive airway diseases,M01AB,761700,0.3,715998.0
4,TRX3644533,5/28/2023,20322,Rebecca Moore,KF854,681000,0.13,4.1,Klinik-Apotek-Laboratorium,Kimia Farma - Klinik-Apotek-Laboratorium,Subang,Jawa Barat,4.1,Drugs for obstructive airway diseases,N05B,681000,0.3,592470.0

In [19]:
tabel_analisa['nett_profit'] = tabel_analisa['price_x'] * (tabel_analisa['presentase_gross_laba'] - tabel_analisa['discount_percentage'])
tabel_analisa.head()

,transaction_id,date,branch_id,customer_name,product_id,price_x,discount_percentage,rating_x,branch_category,branch_name,kota,provinsi,rating_y,product_name,product_category,price_y,presentase_gross_laba,nett_sales,nett_profit
0,TRX5844188,9/7/2023,88605,Elizabeth Thomas,KF260,118700,0.05,3.0,Klinik & Apotek,Kimia Farma - Klinik & Apotek,Sukabumi,Jawa Barat,4.7,"Other analgesics and antipyretics, Pyrazolones...",N05C,118700,0.2,112765.0,17805.0
1,TRX6182886,11/7/2022,27840,Andrew Martinez,KF492,751900,0.07,4.8,Apotek,Kimia Farma - Apotek,Denpasar,Bali,4.3,"Psycholeptics drugs, Hypnotics and sedatives d...",N02BE/B,751900,0.3,699267.0,172937.0
2,TRX7691180,5/30/2023,62913,Charles Reynolds,KF540,744200,0.03,3.3,Apotek,Kimia Farma - Apotek,Palembang,Sumatera Selatan,4.5,"Other analgesics and antipyretics, Salicylic a...",R03,744200,0.3,721874.0,200934.0
3,TRX3205743,11/28/2022,31604,Casey Cochran,KF389,761700,0.06,3.5,Apotek,Kimia Farma - Apotek,Pontianak,Kalimantan Barat,4.4,Drugs for obstructive airway diseases,M01AB,761700,0.3,715998.0,182808.0
4,TRX3644533,5/28/2023,20322,Rebecca Moore,KF854,681000,0.13,4.1,Klinik-Apotek-Laboratorium,Kimia Farma - Klinik-Apotek-Laboratorium,Subang,Jawa Barat,4.1,Drugs for obstructive airway diseases,N05B,681000,0.3,592470.0,115770.0

In [20]:
tabel_analisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672458 entries, 0 to 672457
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   transaction_id         672458 non-null  object
 1   date                   672458 non-null  object
 2   branch_id              672458 non-null  int64
 3   customer_name          672458 non-null  object
 4   product_id             672458 non-null  object
 5   price_x                672458 non-null  int64
 6   discount_percentage    672458 non-null  float64
 7   rating_x               672458 non-null  float64
 8   branch_category        672458 non-null  object
 9   branch_name            672458 non-null  object
 10  kota                   672458 non-null  object
 11  provinsi               672458 non-null  object
 12  rating_y               672458 non-null  float64
 13  product_name           672458 non-null  object
 14  product_category       672458 non-null  object
 15  price_y                672458 non-null  int64
 16  presentase_gross_laba  672458 non-null  float64
 17  nett_sales             672458 non-null  float64
 18  nett_profit            672458 non-null  float64
dtypes: float64(6), int64(3), object(10)
memory usage: 97.5+ MB

In [22]:
tabel = tabel_analisa[['transaction_id', 'date', 'branch_id', 'branch_name', 'kota', 'provinsi', 'rating_y', 'customer_name', 'product_id','product_name', 'price_x', 'discount_percentage', 'presentase_gross_laba', 'nett_sales', 'nett_profit', 'rating_x']]
tabel.head()

,transaction_id,date,branch_id,branch_name,kota,provinsi,rating_y,customer_name,product_id,product_name,price_x,discount_percentage,presentase_gross_laba,nett_sales,nett_profit,rating_x
0,TRX5844188,9/7/2023,88605,Kimia Farma - Klinik & Apotek,Sukabumi,Jawa Barat,4.7,Elizabeth Thomas,KF260,"Other analgesics and antipyretics, Pyrazolones...",118700,0.05,0.2,112765.0,17805.0,3.0
1,TRX6182886,11/7/2022,27840,Kimia Farma - Apotek,Denpasar,Bali,4.3,Andrew Martinez,KF492,"Psycholeptics drugs, Hypnotics and sedatives d...",751900,0.07,0.3,699267.0,172937.0,4.8
2,TRX7691180,5/30/2023,62913,Kimia Farma - Apotek,Palembang,Sumatera Selatan,4.5,Charles Reynolds,KF540,"Other analgesics and antipyretics, Salicylic a...",744200,0.03,0.3,721874.0,200934.0,3.3
3,TRX3205743,11/28/2022,31604,Kimia Farma - Apotek,Pontianak,Kalimantan Barat,4.4,Casey Cochran,KF389,Drugs for obstructive airway diseases,761700,0.06,0.3,715998.0,182808.0,3.5
4,TRX3644533,5/28/2023,20322,Kimia Farma - Klinik-Apotek-Laboratorium,Subang,Jawa Barat,4.1,Rebecca Moore,KF854,Drugs for obstructive airway diseases,681000,0.13,0.3,592470.0,115770.0,4.1

In [23]:
tabel = tabel.rename(columns={
    'rating_y':'rating_cabang',
    'price_x':'actual_price',
    'rating_x':'rating_transaksi'
})
tabel.head()

,transaction_id,date,branch_id,branch_name,kota,provinsi,rating_cabang,customer_name,product_id,product_name,actual_price,discount_percentage,presentase_gross_laba,nett_sales,nett_profit,rating_transaksi
0,TRX5844188,9/7/2023,88605,Kimia Farma - Klinik & Apotek,Sukabumi,Jawa Barat,4.7,Elizabeth Thomas,KF260,"Other analgesics and antipyretics, Pyrazolones...",118700,0.05,0.2,112765.0,17805.0,3.0
1,TRX6182886,11/7/2022,27840,Kimia Farma - Apotek,Denpasar,Bali,4.3,Andrew Martinez,KF492,"Psycholeptics drugs, Hypnotics and sedatives d...",751900,0.07,0.3,699267.0,172937.0,4.8
2,TRX7691180,5/30/2023,62913,Kimia Farma - Apotek,Palembang,Sumatera Selatan,4.5,Charles Reynolds,KF540,"Other analgesics and antipyretics, Salicylic a...",744200,0.03,0.3,721874.0,200934.0,3.3
3,TRX3205743,11/28/2022,31604,Kimia Farma - Apotek,Pontianak,Kalimantan Barat,4.4,Casey Cochran,KF389,Drugs for obstructive airway diseases,761700,0.06,0.3,715998.0,182808.0,3.5
4,TRX3644533,5/28/2023,20322,Kimia Farma - Klinik-Apotek-Laboratorium,Subang,Jawa Barat,4.1,Rebecca Moore,KF854,Drugs for obstructive airway diseases,681000,0.13,0.3,592470.0,115770.0,4.1

In [24]:
tabel.to_csv('tabel_analisa.csv', index=False)